@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


body{
    font-family: 'Raleway', sans-serif;
}

.container{
    margin:auto;
    width: 500px;   
}


.header{
    
text-align: center;

}

.intro{
    
    
}

.cooking-info{
    margin:auto;
}

.ingredients{
    text-align: left;
}

.recipe-info{
    margin:auto;
}

.directions{
    text-align: left;
    
}


